header,
aside {
	background-color: var(--background-color-dark);
	color: var(--text-color-light);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding-inline: 2rem;
	height: 4rem;
	width: 100%;
}

aside {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	border: 1px solid black;

	width: 16rem;
	height: 100%;

	text-align: left;
}

main {
	width: 100%;
	height: 100%;
	max-width: 100%;
	display: flex;
}

#preview {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.splat-file {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	margin: 1rem;

	border: thin solid var(--border-color);
}

#new-splat {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#map-name {
	font-size: 1.5rem;
}

div[role="toolbar"] {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

div.text {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

button.edit {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0.25rem;
	width: 1.25rem;
	height: 1.25rem;

	border-radius: 50%;

	border: none;
}

button.edit > svg {
	width: 1rem;
	height: 1rem;
}

input[type="text"] {
	border: thin solid var(--border-color);
	border-radius: 0.25rem;
	padding: 0.25rem;
	background-color: var(--background-color-medium);
	color: currentColor;
	font-size: inherit;
}

.editable-parameters {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 0.5rem;
}

div.values {
	display: flex;
	gap: 0.5rem;
}

ul.editing div.values {
	flex-direction: column;
	justify-content: space-around;
	padding-right: 0.25rem;
}

ul.value-set {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 0.25rem;
}

input[type="number"] {
	font-family: "Courier New", Courier, monospace;

	border: thin solid var(--border-color);
	border-radius: 0.25rem;
	background-color: var(--background-color-medium);
	color: currentColor;
	font-size: inherit;
	width: 2.5rem;

	text-align: right;

	/* No arrows - Firefox */
	-moz-appearance: textfield;
	appearance: textfield;
}

ul.splat-details {
	display: flex;
	flex-direction: column;
	align-items: cennter;
}

ul.splat-details > li {
	display: flex;
	gap: 0.5rem;
	width: 100%;
	padding: 0rem;
	color: var(--text-color-disabled);
}

ul.splat-details.editing > li {
	border-bottom: thin solid var(--border-color);
	padding-block: 0.5rem;
}

ul.splat-details.editing > li:last-child {
	justify-content: flex-end;
	border-bottom: none;
	padding-bottom: 0;
}

.name-bar {
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;
	align-items: center;
}

.axis {
	margin-right: 0.5rem;
}

.axis.x {
	color: #ea7773;
}

.axis.y {
	color: #62b561;
}

.axis.z {
	color: #0aace8;
}

/* No arrows - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button.stepper {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	padding: 0.25rem;
	width: 1.25rem;
	height: 1.25rem;

	border-radius: 50%;

	border: none;

	font-family: "Courier New", Courier, monospace;
}

.slider-container {
	position: relative;
}

input[type="range"] {
	max-width: 6rem;
}

.slider-tooltip {
	position: absolute;
	top: 0.1rem;
	left: -4.5ch;
	pointer-events: none;

	background-color: var(--primary-color);
	color: var(--text-color-light);

	font-size: 0.75rem;

	padding: 1px 3px;
	border-radius: 4px;
}
