:root {
	--background-color: #f8f9fa;
	--background-color-medium-light: #6e7575;
	--background-color-medium: #484949;
	--background-color-dark: #343a40;

	--text-color: #333;
	--text-color-light: #fff;
	--text-color-disabled: #a2aeb8;

	--primary-color: #0a69cf;
	--primary-color-light: #329ff8;

    --danger-color: #dc3545;
    --danger-color-light: #ff505f;

	--border-color: #ced4da;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: var(--text-color);
	background-color: var(--background-color);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
	font-family: Arial, sans-serif;
}

.hidden {
	display: none !important;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 10px;
}

a.button {
	display: block;
	padding: 10px;
	text-align: center;
	background-color: var(--primary-color);
	color: white;
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
}

a.button:hover {
	background-color: #0056b3;
}

button {
	display: flex;
	justify-content: flex-start;
	gap: 0.5rem;
	align-items: center;

	color: var(--text-color-light);
	background-color: var(--primary-color);

	margin: 0;
	padding-inline: 0.5rem;
	padding-block: 0.25rem;

	border: none;
	border-radius: 0.5rem;

	cursor: pointer;

	font-family: inherit;
	font-size: inherit;
}

button.danger {
    background-color: var(--danger-color);
}

button:hover {
	background-color: var(--primary-color-light);
}

button.danger:hover {
    background-color: var(--danger-color-light);
}

button.big {
	padding-inline: 1rem;
	padding-block: 0.5rem;
	font-size: 1.25rem;
}

svg.feather {
	width: 1rem;
	height: 1rem;
}

span.feather {
    display: flex;
    align-items: center;
    justify-content: center;
	width: 1rem;
	height: 1rem;    
}